.create-ascent-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 20px;
}

form {
    width: 100%;
}

.form-group {
    margin-bottom: 15px;
}

.create-ascent-label {
    width: 100px;
    margin-right: 10px;
}

.create-ascent-input {
    width: 96.5%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    height: 100px;
    resize: vertical;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

button:disabled {
    background-color: gray;
}

ul {
    list-style: none;
    padding: 0;
    color: red;
}

.photo-div {
  border-radius: 5px;
  text-align: left;
}

.dropzone {
  border: 2px dashed #ccc;
  text-align: center;
  padding: 5px;
}

#image-upload {
  border: none;
}

.upload-button {
  border: 2px dashed #ccc;
}

.photo-div input[type="file"] {
  display: block;
  margin-top: 10px;
  cursor: pointer;
}

.photo-div p {
  margin-top: 10px;
  font-size: 14px;
  color: #666;
}

.error {
  color: red;
  margin-left: 10px;
}
